$color-main: #d32e3a;
$color-dark: #222222;
$color-light: #ffffff;
$color-yellow: #f9c300;
$color-main-pink: #fcf0f1;
$color-gray: #999999;
$color-main-opacity-7: rgba(211, 46, 58, 0.07);
$color-main-opacity-70: rgba(211, 46, 58, 0.7);
$color-main-opacity-90: rgba(211, 46, 58, 0.9);
$color-dark-opacity-7: rgba(34, 34, 34, 0.07);
$color-dark-opacity-60: rgba(34, 34, 34, 0.6);

$color-text-dark: #222222;
$color-text-light: #ffffff;

$shadow-circle: 0px 12px 36px rgba(0, 0, 0, 0.06);
